<!doctype HTML>
<html>
 
<title>Online Calculator</title>
<h1 style="font-family:Verdana; color:rgb(114, 33, 8);">
<center> CALCULATOR </center>
</h1>
<head2 style="font-family:Verdana;">
Please enter a number followed by an operator (+, -, /, *) and another number. Click the equal button to see the result!
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
</head2>
 
 
 
{% block content %}
<!-- This is where your other files will extend from -->{% endblock %}
 
</html>
